.sprite-frame_00000 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -0px -0px;
 }
 .sprite-frame_00001 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -316px -0px;
 }
 .sprite-frame_00002 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -632px -0px;
 }
 .sprite-frame_00003 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -948px -0px;
 }
 .sprite-frame_00004 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -1264px -0px;
 }
 .sprite-frame_00005 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -1580px -0px;
 }
 .sprite-frame_00006 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -1896px -0px;
 }
 .sprite-frame_00007 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -2212px -0px;
 }
 .sprite-frame_00008 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -2528px -0px;
 }
 .sprite-frame_00009 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -2844px -0px;
 }
 .sprite-frame_00010 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -3160px -0px;
 }
 .sprite-frame_00011 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -3476px -0px;
 }
 .sprite-frame_00012 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -3792px -0px;
 }
 .sprite-frame_00013 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -4108px -0px;
 }
 .sprite-frame_00014 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -4424px -0px;
 }
 .sprite-frame_00015 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -4740px -0px;
 }
 .sprite-frame_00016 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -5056px -0px;
 }
 .sprite-frame_00017 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -5372px -0px;
 }
 .sprite-frame_00018 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -5688px -0px;
 }
 .sprite-frame_00019 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -6004px -0px;
 }
 .sprite-frame_00020 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -6320px -0px;
 }
 .sprite-frame_00021 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -6636px -0px;
 }
 .sprite-frame_00022 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -6952px -0px;
 }
 .sprite-frame_00023 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -7268px -0px;
 }
 .sprite-frame_00024 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -7584px -0px;
 }
 .sprite-frame_00025 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -7900px -0px;
 }
 .sprite-frame_00026 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -8216px -0px;
 }
 .sprite-frame_00027 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -8532px -0px;
 }
 .sprite-frame_00028 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 397px;
     width: 316px;
     background-position: -8848px -0px;
 }
 